---
layout: 'layouts/base.njk'
---

<div class="container my-5">
    <div class="text-center mb-4">
        <img src="./img/tvs-logo-960.png" alt="" class="d-block mx-auto" style="width: 300px" />
        <h1 class="fw-bold">TV Shuffle</h1>
        <a href="#" class="btn btn-light btn-icon-text">
            <span class="d-flex flex-row align-items-center gap-2">
                <i class="bi-apple btn-icon-prepend fs-2"></i>
                <span class="d-inline-block text-start">
                    <small class="fw-light d-block">Coming Soon</small>
                    App Store
                </span>
            </span>
        </a>
    </div>

    <p class="lead">
        Can't decide which episode to watch? This app makes it easy! Whether you're revisiting an old favorite or just
        want to dive into a new show, our app lets you explore your favorite series and pick an episode at random for a
        fun and spontaneous viewing experience.
    </p>
</div>

<div class="section bg-blue overflow-hidden text-black">
    <div class="container py-4">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6">
                <h2 class="display-4 fw-semibold">Search for Any Show</h2>
                <p class="lead">Quickly find any TV show you're in the mood for.</p>
                <p>Once you have found your favorite show, add it to your library for quick access later.</p>
            </div>
            <div class="col-12 col-sm-6">
                <img src="./img/search-portrait.png" alt="" class="device d-block mx-auto" />
            </div>
        </div>
    </div>
</div>

<div class="section bg-green overflow-hidden text-black">
    <div class="container py-4">
        <div class="row align-items-center">
            <div class="col-12 col-sm-6 order-md-2">
                <h2 class="display-4 fw-semibold">Random Episode Picker</h2>
                <p class="lead">Simply tap any of your shows, and TV Shuffle will choose a random episode for you!</p>
                <p>For every random episode you will see:</p>
                <ul>
                    <li>Episode snapshot <small>(if available)</small></li>
                    <li>Season and episode number</li>
                    <li>Episode title</li>
                    <li>Episode description</li>
                    <li>Where to stream and/or buy <small>(powered by JustWatch)</small></li>
                </ul>
                <p>
                    Additionally you can customize your shuffle by choosing all seasons of a show or just the specific
                    season you want to shuffle.
                </p>
            </div>
            <div class="col-12 col-sm-6 text-sm-end text-md-start text-nowrap order-md-1">
                <img src="./img/random-episode-portrait.png" alt="" class="device d-block mx-auto" />
            </div>
        </div>
    </div>
</div>

<div class="section bg-danger overflow-hidden text-black">
    <div class="container py-4">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <h2 class="display-4 fw-semibold">Multiple layouts</h2>
                <p class="lead">Choose the layout that works for you!</p>
                <p>With grid and list layouts along with sorting, you can find the layout that works for you!</p>
            </div>
            <div class="col-12 col-md-6 text-end text-nowrap">
                <img src="./img/layouts.png" alt="" class="device d-block mx-auto" />
            </div>
        </div>
    </div>
</div>
