---
layout: 'layouts/base.njk'
---

<div class="text-center mb-4">
    <img src="./img/tvs-logo-960.png" alt="" class="d-block mx-auto" style="width: 300px" />
    <h1 class="fw-bold">TV Shuffle</h1>
    <a href="#" class="btn btn-light btn-icon-text">
        <span class="d-flex flex-row align-items-center gap-2">
            <i class="bi-apple btn-icon-prepend fs-2"></i>
            <span class="d-inline-block text-start">
                <small class="fw-light d-block">Coming Soon</small>
                App Store
            </span>
        </span>
    </a>
</div>

<p class="lead">
    Can't decide which episode to watch? This app makes it easy! Whether you're revisiting an old favorite or just want
    to dive into a new show, our app lets you explore your favorite series and pick an episode at random for a fun and
    spontaneous viewing experience.
</p>

<h2>Features:</h2>
<ul>
    <li><strong>Search for Any Show</strong> - Quickly find any TV show you're in the mood for.</li>
    <li><strong>Random Episode Picker</strong> - Simply tap, and the app will choose a random episode for you!</li>
    <li>
        <strong>Surprise Yourself</strong> - Perfect for when you can't pick or want a fresh look at familiar shows.
    </li>
</ul>

{#
<p>Take the guesswork out of picking an episode. Download now and start watching!</p>
#}

<div class="text-center"></div>
