---
layout: 'layouts/base.njk'
---

<nav class="navbar">
    <div class="navbar-inner">
        <a href="/" class="logo">
            <img src="/img/tvs-logo-960.png" alt="TV Shuffle" />
            <span class="logo-text">TV Shuffle</span>
        </a>
    </div>
</nav>

<main class="page-content">
    <div class="page-inner">
        {{ content | safe }}
    </div>
</main>
