body {
    background-color: #262626;
}
.bg-blue {
    background-color: #6d91f7;
}
.bg-red {
    background-color: #d87578;
}
.bg-green {
    background-color: #b3f98c;
}

.device {
    width: 80%;
}

@media (min-width: 768px) {
    .device {
        width: 300px;
    }
}
